@import "./variables.scss";

@font-face {
  font-family: Undeka;
  src: url("../resources/fonts/Undeka-Regular.woff");
}

body {
  font-family: Undeka;
  overflow: hidden;
  background-image: url(../resources/bg.svg);
  background-size: cover;

  * {
    user-select: none;
  }

  input, button {
    color: inherit;
    padding: 0;

    &:focus {
      outline: none;
    }
  }
}

button {
  border: none;
  background: none;
}

.close {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 5px;
  right: 5px;
  background-color: #ccc;

  &:hover {
    filter: brightness(120%);
  }

  &::before, &::after {
    content: "";
    position: absolute;
    top: 44%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $bg-screen;
  }

  &::before {
    transform: rotate(45deg);
  }
  
  &::after {
    transform: rotate(-45deg);
  }
}

.hidden {
  display: none !important;
}

#player-screen, #inventory-screen {
  background: $bg-screen;
  color: white;
  position: absolute;
  box-shadow: 0px 0px 12px 2px rgba(black, 0.7);
}

.inventory-header, .player-header {
  $vert-padding: 0.4rem;
  padding: $vert-padding 0 $vert-padding 2rem;
  border-bottom: 2px solid rgba(darken($bg-screen, 10%), 0.5);
  position: relative;
  font-size: 1.1rem;
  margin-bottom: $screen-padding;

  & > [class*="icon-"] {
    position: absolute;
    font-size: 3.2rem;
    color: lighten($bg-screen, 68%);
    transform: translate(-40%, -20%);
    
    &, [class*="icon-"] {
      position: absolute;
      top: 0;
      left: 0;
    }

    [class*="icon-"] {
      filter: blur(4px);
      color: $bg-screen;
      z-index: -1;
    }
  }
}

$slot-border-size: 1px;
[class*="-slot"] {
  position: relative;
  width: $item-size;
  height: $item-size;
  background: $bg-slot;
  box-shadow: inset 0 0 $inventory-slot-bs-br #222;
  box-sizing: content-box;
  border: $slot-border-size solid lighten($bg-slot, 20%);
}

x-item {
  position: absolute;
  width: $item-size + $slot-border-size * 2;
  height: $item-size + $slot-border-size * 2;
  left: -$slot-border-size;
  top: -$slot-border-size;
}

.inventory-slot.marked, .equipment-slot.marked {
  filter: brightness(150%);
}