@font-face {
  font-family: 'icomoon';
  src:  url('../resources/fonts/icomoon.eot?r4jv7m');
  src:  url('../resources/fonts/icomoon.eot?r4jv7m#iefix') format('embedded-opentype'),
    url('../resources/fonts/icomoon.ttf?r4jv7m') format('truetype'),
    url('../resources/fonts/icomoon.woff?r4jv7m') format('woff'),
    url('../resources/fonts/icomoon.svg?r4jv7m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-resize:before {
  content: "\e909";
}
.icon-barbute:before {
  content: "\e90d";
}
.icon-barbute-back:before {
  content: "\e90e";
}
.icon-helmet2:before {
  content: "\e90a";
}
.icon-shield3:before {
  content: "\e90b";
}
.icon-sword3:before {
  content: "\e90c";
}
.icon-bag-bg:before {
  content: "\e903";
}
.icon-shield2:before {
  content: "\e900";
}
.icon-sword2:before {
  content: "\e901";
}
.icon-bag:before {
  content: "\e902";
}
.icon-boots:before {
  content: "\e904";
}
.icon-gloves:before {
  content: "\e905";
}
.icon-helmet:before {
  content: "\e906";
}
.icon-shield:before {
  content: "\e907";
}
.icon-sword:before {
  content: "\e908";
}
