@import "./variables.scss";

#inventory-screen {
  // Random initial values for testing
  // Don't put padding bottom to be able to use bounding rect for resize
  width: 450px;
  height: 400px;
  min-width: 200px;
  min-height: 200px;
  top: 20%;
  left: 40%;
  display: flex;
  flex-direction: column;

  .icon-resize, .icon-resize:before {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.6rem;
    color: lighten($bg-screen, 40%);
  }

  .filters {
    padding: 0 $screen-padding;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    input {
      align-self: stretch;
      background: rgba(#222, 0.2);
      border: 1px solid #222;
      border-radius: 2px;
      padding: 0.2rem;

      &::placeholder {
        color: rgba(white, 0.6);
      }
    }

    .type-filters {
      margin-top: 0.5rem;
      display: inline-flex;
      flex-wrap: wrap;
      border-radius: 0.2rem;

      [class*="icon-"]:before {
        font-size: 1.7rem;
      }

      button {
        padding: 0.4rem 0.5rem;
        margin-right: 0.3rem;
        margin-bottom: 0.3rem;
        background: darken($bg-screen, 7%);
        border-radius: 0.2rem;

        &.selected {
          background: lighten($bg-screen, 12%);
        }

        &:not(.selected):hover {
          background: lighten($bg-screen, 5%);
        }
      }
    }
  }
  
  .inventory {
    padding-left: $screen-padding;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    overflow: hidden auto;

    .inventory-slot {
      margin-right: $inventory-slot-margin;
      margin-bottom: $inventory-slot-margin;
    }
  }

  .inventory-footer {
    margin-top: $screen-padding;
    margin-bottom: $screen-padding / 2;
    padding: 0 $screen-padding;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
  }
}

$scroll-width: 0.5rem;
::-webkit-scrollbar {
  width: $scroll-width;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
  border-radius: $scroll-width / 2;
}

::-webkit-scrollbar-track {
  background: lighten($bg-screen, 10%);
}

::-webkit-scrollbar-thumb {
  $scroll-thumb-bg: darken($bg-screen, 10%);
  background: $scroll-thumb-bg;

  &:hover {
    background: darken($scroll-thumb-bg, 3%);
  }
}