@import "./variables.scss";

#player-screen {
  // Random initial values for testing
  top: 30%;
  left: 7%;
  display: inline-block;

  .icon-barbute-back {
    font-size: 90%;
    transform: translate(21%, 4%);
  }
}

.equipment {
  display: grid;
  grid-template: 
    ". helmet ." auto
    "left-hand gloves right-hand" auto
    ". boots ." auto
    / 1fr auto 1fr;
  grid-gap: 0.3rem;
  padding: 0 $screen-padding;

  .equipment-slot {
    $icon-scale: 0.8;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &.equippable {
      box-shadow: inset 0 0 $inventory-slot-bs-br rgba(lightgreen, 0.5);
    }

    &[class*="icon-"]::before {
      position: absolute;
      color: black;
      opacity: 0.2;
      font-size: $item-size * 0.75;
    }

    &#helmet {
      grid-area: helmet;
    }
  
    &#gloves {
      grid-area: gloves;
    }
  
    &#boots {
      grid-area: boots;

      &.icon-boots::before {
        font-size: $item-size * 0.64;
      }
    }
  
    &#left-hand {
      grid-area: left-hand;
      justify-self: end;
    }
  
    &#right-hand {
      grid-area: right-hand;
    }
  }
}

.attributes {
  display: flex;
  flex-direction: column;
  padding: $screen-padding;
  margin-top: $screen-padding;
  border-top: 1px solid rgba(darken($bg-screen, 10%), 0.7);

  .attr-container {
    display: flex;
    justify-content: space-between;

    .attack-icon {
      margin-right: 0.2rem;
    }

    .defense-icon {
      margin-right: 0.3rem;
    }
  }
}