<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Player&Inventory Screen</title>
</head>
<body>
  <div id="player-screen">
    <div class="player-header">
      <i class="icon-barbute"><i class="icon-barbute-back"></i></i>
      <span>Character &nbsp;&nbsp;[C]</span>
      <button id="close-player-screen" class="close"></button>
    </div>
    <div class="equipment">
      <div id="helmet" class="equipment-slot icon-helmet2"></div>
      <div id="gloves" class="equipment-slot icon-gloves"></div>
      <div id="boots" class="equipment-slot icon-boots"></div>
      <div id="left-hand" class="equipment-slot icon-sword3"></div>
      <div id="right-hand" class="equipment-slot icon-shield2"></div>
    </div>
    <div class="attributes">
      <span class="attr-container">
        <span><i class="icon-sword2 attack-icon"></i>Attack</span>
        <span id="player-attack">0</span>
      </span>
      <span class="attr-container">
        <span><i class="icon-shield3 defense-icon"></i>Defense</span>
        <span id="player-defense">0</span>
      </span>
    </div>
  </div>
  <div id="inventory-screen">
    <div class="inventory-header">
      <i class="icon-bag"><i class="icon-bag-bg"></i></i>
      <span>Inventory &nbsp;&nbsp;[I]</span>
      <button id="close-inventory-screen" class="close"></button>
    </div>
    <div class="filters">
      <input id="inventory-search" placeholder="Search..." />
      <div class="type-filters">
        <button id="filter-all-btn"><i class="icon-bag"></i></button>
        <button id="filter-helmet-btn"><i class="icon-helmet2"></i></button>
        <button id="filter-gloves-btn"><i class="icon-gloves"></i></button>
        <button id="filter-boots-btn"><i class="icon-boots"></i></button>
        <button id="filter-weapon-btn"><i class="icon-sword3"></i></button>
        <button id="filter-shield-btn"><i class="icon-shield2"></i></button>
      </div>
    </div>
    <div id="inventory" class="inventory">
    </div>
    <div class="inventory-footer">
      <span><span id="slots-taken">0</span> / <span id="slots-available"></span> <i class="icon-bag"></i></span>
    </div>
    <i class="icon-resize"></i>
  </div>
</body>
</html>